{% load static %}

{% if form.errors %}
<div class="fixed top-4 right-4 z-50">
  <article class="alert-message flex items-start gap-3 text-sm p-4 text-blue-800 rounded-md border border-blue-200 bg-blue-50 shadow-md animate-fade-in transition-opacity duration-500"
           role="alert">
    <!-- Ícone -->
    <i data-lucide="info" class="h-5 w-5"></i>

    <!-- Mensagem -->
    <section class="flex-1 text-base font-light">
      {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
      {% endfor %}
      {% include "layouts/_form_field_error.html" %}
    </section>

    <!-- Botão de fechar -->
    <button onclick="this.parentElement.remove()" class="flex-shrink-0 text-gray-400 hover:text-gray-600">
      <i data-lucide="x" class="h-5 w-5"></i>
    </button>
  </article>
</div>
{% endif %}

{% block inline_javascript %}

<script>
  /**
   * Remove o alerta após um tempo
   */
  setTimeout(() => {
    document.querySelectorAll('.alert-message').forEach(alert => {
      alert.classList.add('opacity-0', 'transition-opacity', 'duration-500');
      setTimeout(() => alert.remove(), 500);
    });
  }, 4000);

</script>

{% endblock inline_javascript %}
