{% load custom_filters %}

{% with request.resolver_match.url_name|url_name_first_part as url_name_first_part %}
<nav class="p-4">
  <ul class="space-y-2">
      <li>
          <a href="{% url 'core:dashboard' %}"
          class="nav-item {% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}"
          >
              <i data-lucide="home" class="h-5 w-5"></i>
              <span>Dashboard</span>
          </a>
      </li>
      <li>
          <a href="{% url 'transactions:income_list' %}"
          class="nav-item {% if url_name_first_part == 'income' %} active {% endif %}"
          >
              <i data-lucide="banknote" class="h-5 w-5"></i>
              <span>Receitas</span>
          </a>
      </li>
      <li>
          <a href="{% url 'transactions:expense_list' %}"
          class="nav-item {% if url_name_first_part == 'expense' %} active {% endif %}"
          >
              <i data-lucide="hand-coins" class="h-5 w-5"></i>
              <span>Despesas</span>
          </a>
      </li>
      <li>
        <a href="{% url 'transactions:category_list' %}"
            class="nav-item {% if url_name_first_part == 'category' %} active {% endif %}"
        >
            <i data-lucide="shapes" class="h-5 w-5"></i>
            <span>Categorias</span>
        </a>
    </li>
      <li>
          <a href="#" class="nav-item">
              <i data-lucide="bar-chart-3" class="h-5 w-5"></i>
              <span>Relatórios</span>
          </a>
      </li>
      <li>
          <a href="#" class="nav-item">
              <i data-lucide="calendar" class="h-5 w-5"></i>
              <span>Calendário</span>
          </a>
      </li>
      <li>
          <a href="#" class="nav-item">
              <i data-lucide="file-text" class="h-5 w-5"></i>
              <span>Documentos</span>
          </a>
      </li>
      <li>
          <a href="#" class="nav-item">
              <i data-lucide="settings" class="h-5 w-5"></i>
              <span>Configurações</span>
          </a>
      </li>
  </ul>
</nav>
{% endwith %}
