{% extends "account/base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% translate "Signup" %}
{% endblock title %}
{% block content %}
<div class="flex flex-col gap-16 w-full h-full">
  <section>
    <h1 class="items-start font-sans font-bold text-slate-900">Cadastre-se</h1>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
  </section>
  <form class="signup"
        id="signup_form"
        method="post"
        action="{% url 'account_signup' %}">
    {% csrf_token %}
    <label for="{{ form.name.id_for_label }}"
             class="block text-gray-700 text-sm font-bold mb-2 pb-2">Nome</label>
      <input type="text"
             required
             name="{{ form.name.name }}"
             id="{{ form.name.id_for_label }}"
             placeholder="Digite seu nome aqui"
             class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500 mb-4" />
      <label for="{{ form.email.id_for_label }}"
             class="block text-gray-700 text-sm font-bold mb-2 pb-2">E-mail</label>
      <input type="email"
             required
             name="{{ form.email.name }}"
             id="{{ form.email.id_for_label }}"
             placeholder="Digite seu email aqui"
             class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500 mb-4" />
      <label for="{{ form.password1.id_for_label }}"
             class="block text-gray-700 text-sm font-bold mb-2 pb-2">Senha</label>
      <input type="password"
             required
             name="{{ form.password1.name }}"
             id="{{ form.password1.id }}"
             placeholder="Digite sua senha aqui"
             class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500 mb-4" />
      <label for="{{ form.password2.id_for_label }}"
             class="block text-gray-700 text-sm font-bold mb-2 pb-2">Confirmação de senha</label>
      <input type="password"
             required
             name="{{ form.password2.name }}"
             id="{{ form.password2.id_for_label }}"
             placeholder="Digite a confirmação da sua senha"
             class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500 mb-4" />
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">Cadastre-se »</button>
  </form>
  <p>
    <a href="{% url 'account_login' %}"
           class="font-sans inline-block align-baseline font-light text-sm text-accent hover:text-secondary">
          Já possui cadastro?
        </a>
  </p>
</div>
{% endblock content %}
