{% extends "base.html" %}

{% load i18n %}

{% block context_button %}
<div class="flex flex-row items-center justify-end mb-6">
  <a href="{% url 'transactions:expense_create' %}" class="flex items-center justify-end gap-2 bg-[#2E7D32] text-white px-4 py-2 rounded-md hover:bg-[#1B5E20] transition-colors">
    <i data-lucide="plus" class="h-5 w-5"></i>
    <span>Nova Despesa</span>
  </a>
</div>
{% endblock context_button %}

{% block content %}

<div class="bg-white p-4 rounded-lg shadow-sm border border-[#E0E0E0] mb-6">
  <form method="get" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

    <div>
      <label for="id_category" class="block text-lg font-medium text-[#424242] mb-1">Categoria</label>
      <select
        name="category"
        id="id_category"
        class="bg-transparent w-full h-[48px] px-[10px] rounded-md border border-[#E0E0E0] focus:border-[#2E7D32] focus:ring focus:ring-[#E8F5E9] transition-colors"
      >
        <option value="">Todas</option>
        {% for category in filter.form.category.field.queryset %}
        <option value="{{ category.pk }}" {% if category.pk|stringformat:"s" == request.GET.category %}selected{% endif %}>
          {{ category.name }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="id_status" class="block text-lg font-medium text-[#424242] mb-1">Situação</label>
      <select
        name="status"
        id="id_status"
        class="bg-transparent w-full h-[48px] px-[10px] rounded-md border border-[#E0E0E0] focus:border-[#2E7D32] focus:ring focus:ring-[#E8F5E9] transition-colors"
      >
        <option value="">Todas</option>
        {% for key, value in filter.form.status.field.choices %}
        <option value="{{ key }}" {% if key == request.GET.status %}selected{% endif %}>
          {{ value }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label class="block text-lg font-medium text-[#424242]">Valor:</label>
      <div class="flex gap-2 mt-1">
        <div class="flex items-center gap-2">
          <label for="id_value_from" class="block text-sm font-medium text-[#424242]">De:</label>
          <div class="relative">
            <span class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-500">R$</span>
            <input
          type="text"
          name="value_from"
          id="id_value_from"
          value="{{ request.GET.value_from }}"
          placeholder="0,00"
          class="w-full h-[48px] px-[10px] pl-10 rounded-md border border-[#E0E0E0] focus:border-[#2E7D32] focus:ring focus:ring-[#E8F5E9] transition-colors"
            >
          </div>
        </div>
        <div class="flex items-center gap-2">
          <label for="id_value_to" class="block text-sm font-medium text-[#424242]">Até:</label>
          <div class="relative">
            <span class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-500">R$</span>
            <input
          type="text"
          name="value_to"
          id="id_value_to"
          value="{{ request.GET.value_to }}"
          placeholder="0,00"
          class="w-full h-[48px] px-[10px] pl-10 rounded-md border border-[#E0E0E0] focus:border-[#2E7D32] focus:ring focus:ring-[#E8F5E9] transition-colors"
            >
          </div>
        </div>
      </div>
    </div>

    <div class="sm:col-span-2 md:col-span-3">
      <label class="block text-lg font-medium text-[#424242] ">Data:</label>
      <div class="flex flex-wrap gap-2">
        <div class="flex items-center gap-2">
          <label for="id_date_from" class="block text-sm font-medium text-[#424242]">De:</label>
          <input
            type="date"
            name="date_from"
            id="id_date_from"
            value="{{ request.GET.date_from }}"
            class="w-full h-[48px] px-[10px] rounded-md border border-[#E0E0E0] focus:border-[#2E7D32] focus:ring focus:ring-[#E8F5E9] transition-colors"
          >
        </div>
        <div class="flex items-center gap-2">
          <label for="id_date_to" class="block text-sm font-medium text-[#424242]">Até:</label>
          <input
            type="date"
            name="date_to"
            id="id_date_to"
            value="{{ request.GET.date_to }}"
            class="w-full h-[48px] px-[10px] rounded-md border border-[#E0E0E0] focus:border-[#2E7D32] focus:ring focus:ring-[#E8F5E9] transition-colors"
          >
        </div>
        <button type="submit" class="flex items-center my-4 bg-[#E8F5E9] text-[#2E7D32] px-4 py-2 rounded-md hover:bg-[#C8E6C9] transition-colors ml-auto">
          <i data-lucide="filter" class="h-5 w-5"></i>
          Filtrar
        </button>

      </div>
    </div>
  </form>
</div>


<!-- Tabela -->
<div class="bg-white rounded-lg shadow-sm border border-[#E0E0E0] overflow-hidden">
  <table class="w-full z-10">
      <thead>
          <tr class="bg-[#F5F5F5] border-b border-[#E0E0E0]">
              <th class="px-6 py-3 text-left text-sm font-semibold text-[#424242]">
                  <div class="flex items-center gap-2">
                      {% comment %} #
                      <i data-lucide="chevron-down" class="h-4 w-4"></i> {% endcomment %}
                  </div>
              </th>
              <th class="px-6 py-3 text-left text-sm font-semibold text-[#424242]">Categoria</th>
              <th class="px-6 py-3 text-left text-sm font-semibold text-[#424242]">Valor</th>
              <th class="px-6 py-3 text-left text-sm font-semibold text-[#424242]">Data</th>
              <th class="px-6 py-3 text-left text-sm font-semibold text-[#424242]">Situação</th>
              <th class="px-6 py-3 text-center text-sm font-semibold text-[#424242]">Ações</th>
          </tr>
      </thead>
      <tbody class="divide-y divide-[#E0E0E0]">
          {% for object in object_list %}
          <tr class="hover:bg-[#F5F5F5] transition-colors">
              <td class="px-6 py-4">
              </td>
              <td class="px-6 py-4 text-[#424242]">{{ object.category.name }}</td>
              <td class="px-6 py-4 text-[#424242]">R$ {{ object.value }}</td>
              <td class="px-6 py-4 text-[#424242]">{{ object.date|date:"d/m/Y" }}</td>
              <td class="px-6 py-4 text-[#424242]">
                <div class="flex items-center gap-3">
                  {% if object.status == 'PD' %}
                      <i data-lucide="triangle-alert" class="h-5 w-5 text-yellow-800" title="Atrasado"></i>
                  {% elif object.status == 'PA' %}
                      <i data-lucide="check" class="h-5 w-5 text-green-800" title="Atrasado"></i>
                  {% elif object.status == 'CA' %}
                      <i data-lucide="x" class="h-5 w-5 text-red-800" title="Atrasado"></i>
                  {% elif object.status == 'OV' %}
                      <i data-lucide="clock-alert" class="h-5 w-5 text-orange-800" title="Atrasado"></i>
                  {% endif %}
                </div>
              </td>

              <td class="flex items-center justify-center px-6 py-4 text-right">
                  <div class="flex gap-2">
                    <a href="{% url 'transactions:category_detail' object.pk %}" class="p-2 hover:bg-[#E8F5E9] text-[#2E7D32] rounded-md transition-colors" title="Mais opções">
                        <i data-lucide="eye" class="h-5 w-5"></i>
                    </a>
                      <a href="{% url 'transactions:expense_update' object.pk %}" class="p-2 hover:bg-[#E8F5E9] text-[#2E7D32] rounded-md transition-colors" title="Editar">
                          <i data-lucide="pencil" class="h-5 w-5"></i>
                      </a>
                      <button
                        id="openModal{{ object.pk }}"
                        data-modal-id="confirmationModal{{ object.pk }}"
                        class="p-2 hover:bg-red-50 text-red-600 rounded-md transition-colors" title="Excluir">
                          <i data-lucide="trash-2" class="h-5 w-5"></i>
                      </button>
                  </div>
              </td>
              {% include "layouts/_confirm_delete_modal.html" with title="Confirmar Exclusão da despesa" body_text="Tem certeza de que deseja excluir este item? Esta ação não pode ser desfeita." delete_url="transactions:expense_delete" %}
          </tr>
          {% empty %}
          <tr>
              <td colspan="6" class="px-6 py-8 text-center text-gray-500">
                  <div class="flex flex-col items-center gap-2">
                      <i data-lucide="search-x" class="h-8 w-8"></i>
                      <div>Nenhum registro encontrado.</div>
                      <div class="text-sm">Tente ajustar os filtros ou adicione um novo registro.</div>
                  </div>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <!-- Paginação -->
  {% include "layouts/_pagination.html" %}
</div>

{% endblock content %}

{% block inline_javascript %}
<script>
document.addEventListener("DOMContentLoaded", function () {
  const moneyInputs = [document.getElementById("id_value_from"), document.getElementById("id_value_to")];

  moneyInputs.forEach(function (moneyInput) {
      moneyInput.addEventListener("input", function (e) {
          let value = e.target.value;

          value = value.replace(/\D/g, "");
          value = (parseFloat(value) / 100).toFixed(2);
          value = value.replace(".", ",");
          e.target.value = value;
      });

      moneyInput.addEventListener("blur", function (e) {
          // Adiciona "0,00" caso o campo fique vazio
          if (!e.target.value) {
              e.target.value = "0,00";
          }
      });
  });
});
</script>
{% endblock inline_javascript %}
