<form method="post">
  {% csrf_token %}
  
  <div>
      <label for="{{ form.email.id_for_label }}">E-mail:</label>
      {{ form.email }}
  </div>

  <div>
      <label for="{{ form.password1.id_for_label }}">Password:</label>
      {{ form.password1 }}
  </div>

  <div>
      <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
      {{ form.password2 }}
  </div>

  <button type="submit">Signup</button>
</form>
{% if form.errors %}
  <p>Error registering user</p>
{% endif %}