{% extends "base.html" %}

{% load i18n %}

{% block context_button %}
<div class="mb-6 flex justify-end items-center">
  <a alt="Voltar para lista" href="{% url 'transactions:category_list' %}" class="flex items-center gap-2 text-[#2E7D32] hover:text-[#2E7D32] hover:bg-[#E8F5E9] px-4 py-2 rounded-md transition-colors">
      <i data-lucide="arrow-left" class="h-5 w-5"></i>
      <span class="hidden md:block">Retornar para lista</span>
  </a>
</div>
{% endblock context_button %}

{% block content %}

<form method="POST" enctype="multipart/form-data" class="">
    {% csrf_token %}
    <div class="bg-white rounded-lg shadow-sm border border-[#E0E0E0] overflow-hidden">
        <!-- Dados Pessoais -->
        <div class="p-6 border-b border-[#E0E0E0]">
            <h2 class="text-lg font-semibold text-[#424242] mb-4">Dados da Categoria</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label class="block text-lg font-medium text-[#424242] mb-1" for="id_name">
                        Nome *
                    </label>
                    <input
                        type="text"
                        id="id_name"
                        name="name"
                        placeholder="Digite o nome da categoria ..."
                        value="{{ form.name.value|default_if_none:'' }}"

                        class="outline-none w-full h-[48px] px-[10px] rounded-md border border-[#E0E0E0] focus:border-[#2E7D32] focus:ring focus:ring-[#E8F5E9] transition-colors"
                    >
                </div>

                <div>
                    <label class="block text-lg font-medium text-[#424242] mb-1" for="id_type">
                        Tipo *
                    </label>
                    <select
                        id="id_type"
                        name="type"
                        class="bg-transparent w-full h-[48px] px-[10px] rounded-md border border-[#E0E0E0] focus:border-[#2E7D32] focus:ring focus:ring-[#E8F5E9] transition-colors"
                    >
                        <option value="">Selecione o tipo da categoria ...</option>
                        {% for key, value in form.type.field.choices %}
                          <option value="{{ key }}" {% if form.type.value == key %}selected{% endif %}>{% trans value %}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="my-3">
              <label class="block text-lg font-medium text-[#424242] mb-1" for="id_description">
                  Descrição *
              </label>
              <textarea
                  id="id_description"
                  name="description"
                  rows="4"
                  placeholder="Digite a descrição da categoria ..."
                  required
                  class="outline-none w-full px-[10px] rounded-md border border-[#E0E0E0] focus:border-[#2E7D32] focus:ring focus:ring-[#E8F5E9] transition-colors"
              >{{ form.description.value|default_if_none:'' }}</textarea>
          </div>
        </div>

        <!-- Botões -->
        <div class="p-6 bg-[#F5F5F5] flex items-center justify-end gap-3">
            <a  href="{% url 'transactions:category_list' %}"
                type="button"
                class="px-4 py-2 text-[#424242] hover:bg-white rounded-md transition-colors"
            >
                Cancelar
            </a>
            <button
                type="submit"
                class="px-4 py-2 bg-[#2E7D32] text-white rounded-md hover:bg-[#1B5E20] transition-colors flex items-center gap-2"
            >
                <i data-lucide="save" class="h-5 w-5"></i>
                Salvar
            </button>
        </div>
    </div>
</form>

{% endblock content %}
